<aside class="character-sidebar-sheet dhca-section dhca-section--footer dhca-footer dhca-character-footer">
  <div class="dhca-footer__inner">
    <div class="dhca-footer__title">
      <span>{{localize 'DAGGERHEART.GENERAL.Tabs.resources'}}</span>
    </div>

    <div class="dhca-thresholds">
      <div class="dhca-thresholds__label">
        <span class="dhca-thresholds__name">{{localize 'DAGGERHEART.GENERAL.DamageThresholds.minor'}}</span>
      </div>

      <span class="dhca-thresholds__value">{{compact.thresholds.major}}</span>

      <div class="dhca-thresholds__label">
        <span class="dhca-thresholds__name">{{localize 'DAGGERHEART.GENERAL.DamageThresholds.major'}}</span>
      </div>

      <span class="dhca-thresholds__value">{{compact.thresholds.severe}}</span>

      <div class="dhca-thresholds__label">
        <span class="dhca-thresholds__name">{{localize 'DAGGERHEART.GENERAL.DamageThresholds.severe'}}</span>
      </div>
    </div>

    <div class="dhca-resources dhca-character__resources">
      <div class="dhca-resource-row dhca-resource-row--hp">
        <span class="dhca-resource-row__label">
          <span class="dhca-resource-row__label-name">{{localize 'DAGGERHEART.GENERAL.HitPoints.short'}}</span>
          <span class="dhca-resource-row__label-max">{{compact.resources.hitPoints.value}} / {{compact.resources.hitPoints.max}}</span>
        </span>
        <button type="button" class="dhca-resource-step" data-dhca-resource-step="hitPoints" data-direction="-1" data-tooltip-text="{{localize 'DAGGERHEART.GENERAL.HitPoints.short'}}">-</button>
        <div class="dhca-resource-row__track">
          {{#each compact.resources.hitPoints.slotGroups as |group|}}
            <div class="dhca-resource-row__group">
              {{#each group as |slot|}}
                <button
                  type="button"
                  class="dhca-resource-row__pip {{#if slot.filled}}filled{{/if}}"
                  data-action="{{slot.action}}"
                  data-value="{{slot.value}}"
                  data-tooltip-text="{{localize 'DAGGERHEART.GENERAL.HitPoints.short'}} {{slot.value}}"
                ></button>
              {{/each}}
            </div>
          {{/each}}
        </div>
        <button type="button" class="dhca-resource-step" data-dhca-resource-step="hitPoints" data-direction="1" data-tooltip-text="{{localize 'DAGGERHEART.GENERAL.HitPoints.short'}}">+</button>
      </div>

      <div class="dhca-resource-row dhca-resource-row--stress">
        <span class="dhca-resource-row__label">
          <span class="dhca-resource-row__label-name">{{localize 'DAGGERHEART.GENERAL.stress'}}</span>
          <span class="dhca-resource-row__label-max">{{compact.resources.stress.value}} / {{compact.resources.stress.max}}</span>
        </span>
        <button type="button" class="dhca-resource-step" data-dhca-resource-step="stress" data-direction="-1" data-tooltip-text="{{localize 'DAGGERHEART.GENERAL.stress'}}">-</button>
        <div class="dhca-resource-row__track">
          {{#each compact.resources.stress.slotGroups as |group|}}
            <div class="dhca-resource-row__group">
              {{#each group as |slot|}}
                <button
                  type="button"
                  class="dhca-resource-row__pip {{#if slot.filled}}filled{{/if}}"
                  data-action="{{slot.action}}"
                  data-value="{{slot.value}}"
                  data-tooltip-text="{{localize 'DAGGERHEART.GENERAL.stress'}} {{slot.value}}"
                ></button>
              {{/each}}
            </div>
          {{/each}}
        </div>
        <button type="button" class="dhca-resource-step" data-dhca-resource-step="stress" data-direction="1" data-tooltip-text="{{localize 'DAGGERHEART.GENERAL.stress'}}">+</button>
      </div>

      {{#if compact.resources.armor.max}}
        <div class="dhca-resource-row dhca-resource-row--armor">
          <button
            type="button"
            class="dhca-resource-row__label dhca-resource-row__label--button"
            data-action="toggleArmorMangement"
            {{disabled (not @root.editable)}}
          >
            <span class="dhca-resource-row__label-name">{{localize 'DAGGERHEART.GENERAL.armorSlots'}}</span>
            <span class="dhca-resource-row__label-max">{{compact.resources.armor.value}} / {{compact.resources.armor.max}}</span>
          </button>
          <button type="button" class="dhca-resource-step" data-dhca-resource-step="armor" data-direction="-1" data-tooltip-text="{{localize 'DAGGERHEART.GENERAL.armorSlots'}}">-</button>
          <div class="dhca-resource-row__track">
            {{#each compact.resources.armor.slotGroups as |group|}}
              <div class="dhca-resource-row__group">
                {{#each group as |slot|}}
                  <button
                    type="button"
                    class="dhca-resource-row__pip dhca-resource-row__pip--shield {{#if slot.filled}}filled{{/if}}"
                    data-action="{{slot.action}}"
                    data-value="{{slot.value}}"
                    data-tooltip-text="{{localize 'DAGGERHEART.GENERAL.armorSlots'}} {{slot.value}}"
                  >
                    <i class="fa-solid {{#if slot.filled}}fa-shield{{else}}fa-shield-halved{{/if}}"></i>
                  </button>
                {{/each}}
              </div>
            {{/each}}
          </div>
          <button type="button" class="dhca-resource-step" data-dhca-resource-step="armor" data-direction="1" data-tooltip-text="{{localize 'DAGGERHEART.GENERAL.armorSlots'}}">+</button>
        </div>
      {{/if}}
    </div>

    {{#if isDeath}}
      <button type="button" class="dhca-character__death-move" data-action="makeDeathMove">
        <i class="fa-solid fa-skull"></i>
        <span>{{localize 'DAGGERHEART.UI.Tooltip.makeDeathMove'}}</span>
      </button>
    {{/if}}
  </div>
</aside>
