<header class="character-header-sheet dhca-section dhca-section--header dhca-header dhca-header--character{{#if document.system.needsCharacterSetup}} dhca-header--needs-setup{{/if}}">
  <div class="dhca-header__adornment{{#if document.system.needsCharacterSetup}} dhca-header__adornment--setup{{/if}}">
    <div class="dhca-header__ribbon" aria-hidden="true">{{compact.identity.primaryLabel}}</div>
    {{#if document.system.needsCharacterSetup}}
      <button
        type="button"
        class="dhca-character__setup-button"
        data-action="levelManagement"
        data-tooltip-text="{{localize 'DHCS.Labels.CreateCharacter'}}"
        {{disabled (not @root.editable)}}
      >
        <i class="fa-solid fa-user-plus"></i>
        <span>{{localize 'DHCS.Labels.CreateCharacter'}}</span>
      </button>
    {{else}}
      <div class="dhca-character__level-row">
        {{#if document.system.levelData.canLevelUp}}
          <button
            type="button"
            class="dhca-character__level-up"
            data-action="levelManagement"
            data-tooltip-text="{{localize 'DAGGERHEART.ACTORS.Character.levelUp'}}"
            aria-label="{{localize 'DAGGERHEART.ACTORS.Character.levelUp'}}"
            {{disabled (not @root.editable)}}
          >
            <i class="fa-solid fa-angles-up"></i>
          </button>
        {{/if}}
        <div class="dhca-header__tier dhca-header__tier--field{{#if document.system.levelData.canLevelUp}} dhca-header__tier--ready{{/if}}">
          <input
            type="text"
            data-dtype="Number"
            class="level-value dhca-header__tier-input"
            value="{{document.system.levelData.level.changed}}"
            {{disabled (not @root.editable)}}
          />
        </div>
      </div>
    {{/if}}
  </div>

  <div class="dhca-header__identity">
    <h1
      class="input actor-name dhca-header__name"
      contenteditable="plaintext-only"
      data-property="name"
      placeholder="{{localize 'DAGGERHEART.GENERAL.actorName'}}"
    >{{source.name}}</h1>
  </div>

  <div class="dhca-character__lineage" aria-label="{{localize 'DAGGERHEART.GENERAL.details'}}">
    {{#if document.system.class.subclass}}
      <span data-action="editDoc" data-item-uuid="{{document.system.class.subclass.uuid}}">{{document.system.class.subclass.name}}</span>
    {{else}}
      <span class="missing-header-feature" data-action="openPack" data-key="subclasses">{{localize 'TYPES.Item.subclass'}}</span>
    {{/if}}
    {{#if document.system.multiclass.subclass}}
      <span class="dhca-summary__separator">,</span>
      <span data-action="editDoc" data-item-uuid="{{document.system.multiclass.subclass.uuid}}">{{document.system.multiclass.subclass.name}}</span>
    {{/if}}
    <span class="dhca-summary__separator">|</span>
    {{#if document.system.community}}
      <span data-action="editDoc" data-item-uuid="{{document.system.community.uuid}}">{{document.system.community.name}}</span>
    {{else}}
      <span class="missing-header-feature" data-action="openPack" data-key="communities">{{localize 'TYPES.Item.community'}}</span>
    {{/if}}
    <span class="dhca-summary__separator">-</span>
    {{#if document.system.ancestry}}
      <span data-action="editDoc" data-item-uuid="{{document.system.ancestry.uuid}}">{{document.system.ancestry.name}}</span>
    {{else}}
      <span class="missing-header-feature" data-action="openPack" data-key="ancestries">{{localize 'TYPES.Item.ancestry'}}</span>
    {{/if}}
  </div>

  {{#if compact.hasExperiences}}
    <section class="dhca-detail-panel dhca-detail-panel--experience dhca-character__experiences">
      <h3 class="dhca-detail-panel__title">{{localize 'DHCS.Labels.Experiences'}}:</h3>
      <div class="dhca-experience-list">
        {{#each source.system.experiences as |experience id|}}
          {{#if @root.compact.showInteractionButtons}}
            <button
              type="button"
              class="dhca-experience-action"
              data-action="sendExpToChat"
              data-type="experience"
              data-id="{{id}}"
              data-tooltip-text="{{localize 'DAGGERHEART.UI.Tooltip.sendToChat'}}"
            >
              <span class="dhca-experience-name">{{experience.name}}</span>
              <span class="dhca-experience-value">{{numberFormat experience.value sign=true}}</span>{{#unless @last}}<span class="dhca-experience-separator">,</span>{{/unless}}
            </button>
          {{else}}
            <span class="dhca-experience-action dhca-experience-action--static" data-tooltip-text="{{experience.description}}">
              <span class="dhca-experience-name">{{experience.name}}</span>
              <span class="dhca-experience-value">{{numberFormat experience.value sign=true}}</span>{{#unless @last}}<span class="dhca-experience-separator">,</span>{{/unless}}
            </span>
          {{/if}}
        {{/each}}
      </div>
    </section>
  {{/if}}

  <div class="dhca-character__quick-stats" aria-label="{{localize 'DAGGERHEART.GENERAL.details'}}">
    <span>
      <strong>{{localize 'DAGGERHEART.GENERAL.evasion'}}:</strong>
      {{#if compact.status.evasion includeZero=true}}{{compact.status.evasion}}{{else}}-{{/if}}
    </span>
    <span class="dhca-summary__separator">|</span>
    <span>
      <strong>{{localize 'DAGGERHEART.GENERAL.proficiency'}}:</strong>
      {{#if compact.status.proficiency includeZero=true}}{{compact.status.proficiency}}{{else}}-{{/if}}
    </span>
  </div>

  <div class="dhca-character__focus-row">
    <div class="dhca-character__hope" aria-label="{{localize 'DAGGERHEART.GENERAL.hope'}}">
      <span class="dhca-character__focus-label">{{localize 'DAGGERHEART.GENERAL.hope'}}</span>
      <div class="dhca-character__hope-track">
        {{#each compact.resources.hope.slots as |slot|}}
          <button
            type="button"
            class="dhca-character__hope-pip {{#if slot.filled}}filled{{/if}}"
            data-action="{{slot.action}}"
            data-value="{{slot.value}}"
            data-tooltip-text="{{localize 'DAGGERHEART.GENERAL.hope'}} {{slot.value}}"
          >
            <i class="{{#if slot.filled}}fa-solid fa-diamond{{else}}fa-regular fa-circle{{/if}}"></i>
          </button>
        {{/each}}
        {{#times compact.scars}}
          <span class="dhca-character__hope-pip dhca-character__hope-pip--scar" data-tooltip-text="{{localize 'DAGGERHEART.GENERAL.scars'}}">
            <i class="fa-regular fa-ban"></i>
          </span>
        {{/times}}
      </div>
      {{#if hasExtraResources}}
        <button
          type="button"
          class="dhca-character__micro-button"
          data-action="toggleResourceManagement"
          data-tooltip-text="{{localize 'DAGGERHEART.GENERAL.Tabs.resources'}}"
        >
          <i class="fa-solid fa-angle-down"></i>
        </button>
      {{/if}}
    </div>

  </div>

  <div class="dhca-character__traits">
    {{#each attributes as |attribute key|}}
      <button
        type="button"
        class="dhca-character__trait"
        data-action="rollAttribute"
        data-attribute="{{key}}"
        data-value="{{attribute.value}}"
        data-tooltip="<b>{{localize (concat 'DAGGERHEART.CONFIG.Traits.' key '.name')}}:</b><br>{{#each attribute.verbs}}{{this}}<br>{{/each}}"
      >
        <span class="dhca-character__trait-name">
          {{localize (concat 'DAGGERHEART.CONFIG.Traits.' key '.short')}}
          <i class="{{#if attribute.tierMarked}}fa-solid{{else}}fa-regular{{/if}} fa-circle"></i>
        </span>
        <span class="dhca-character__trait-value">{{numberFormat attribute.value sign=true}}</span>
      </button>
    {{/each}}
  </div>

  <div class="dhca-header__toolbar">
    {{> 'modules/daggerheart-compact-sheets/templates/parts/tab-nav.hbs'}}
    <div class="dhca-header-actions">
      {{#if @root.editable}}
        <button type="button" data-action="useDowntime" data-type="shortRest" data-tooltip-text="{{localize 'DAGGERHEART.APPLICATIONS.Downtime.shortRest.title'}}">
          <i class="fa-solid fa-utensils"></i>
        </button>
        <button type="button" data-action="useDowntime" data-type="longRest" data-tooltip-text="{{localize 'DAGGERHEART.APPLICATIONS.Downtime.longRest.title'}}">
          <i class="fa-solid fa-bed"></i>
        </button>
      {{/if}}
      {{#if document.parties.size}}
        <button type="button" data-action="viewParty" data-tooltip-text="{{localize 'DAGGERHEART.ACTORS.Character.viewParty'}}">
          <i class="fa-solid fa-users"></i>
        </button>
      {{/if}}
      <button type="button" data-action="openSettings" data-tooltip-text="{{localize 'DAGGERHEART.UI.Tooltip.openSheetSettings'}}">
        <i class="fa-solid fa-wrench"></i>
      </button>
    </div>
  </div>
</header>
