<section
  class="tab {{tabs.inventory.cssClass}} {{tabs.inventory.id}} dhca-section dhca-section--body dhca-tab-panel dhca-tab-panel--inventory"
  data-tab="{{tabs.inventory.id}}"
  data-group="{{tabs.inventory.group}}"
>
  <div class="dhca-tab-panel__scroll">
    <div class="dhca-character__tool-row">
      <label class="dhca-character__search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" name="search" class="search-inventory" placeholder="{{localize 'DAGGERHEART.GENERAL.searchPlaceholder'}}" />
      </label>
      <button type="button" class="filter-button" data-tooltip-text="{{localize 'DHCS.Labels.Filter'}}">
        <i class="fa-solid fa-filter"></i>
      </button>
    </div>

    {{#if inventory.hasCurrency}}
      {{> 'systems/daggerheart/templates/sheets/global/partials/gold.hbs' currencies=inventory.currencies}}
    {{/if}}

    <div class="items-section dhca-character__section-stack">
      {{> 'daggerheart.inventory-items'
        title='TYPES.Item.weapon'
        type='weapon'
        collection=@root.inventory.weapons
        isGlassy=true
        canCreate=@root.editable
        hideResources=true
      }}
      {{> 'daggerheart.inventory-items'
        title='TYPES.Item.armor'
        type='armor'
        collection=@root.inventory.armor
        isGlassy=true
        canCreate=@root.editable
        hideResources=true
      }}
      {{> 'daggerheart.inventory-items'
        title='TYPES.Item.consumable'
        type='consumable'
        collection=@root.inventory.consumables
        isGlassy=true
        canCreate=@root.editable
        isQuantifiable=true
      }}
      {{> 'daggerheart.inventory-items'
        title='TYPES.Item.loot'
        type='loot'
        collection=@root.inventory.loot
        isGlassy=true
        canCreate=@root.editable
        showActions=@root.editable
        isQuantifiable=true
      }}
    </div>
  </div>
</section>
