<section
  class="tab {{tabs.loadout.cssClass}} {{tabs.loadout.id}} dhca-section dhca-section--body dhca-tab-panel dhca-tab-panel--loadout"
  data-tab="{{tabs.loadout.id}}"
  data-group="{{tabs.loadout.group}}"
>
  <div class="dhca-tab-panel__scroll">
    <div class="search-section dhca-search-section">
      <label class="search-bar dhca-search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" name="search" class="search-loadout" placeholder="{{localize 'DAGGERHEART.GENERAL.searchPlaceholder'}}" />
      </label>
      <button type="button" class="filter-button dhca-filter-button" data-tooltip-text="Filter">
        <i class="fa-solid fa-filter"></i>
      </button>
    </div>

    <div class="items-section dhca-character-items-section">
      {{> 'daggerheart.inventory-items'
        title='DAGGERHEART.GENERAL.Tabs.loadout'
        type='domainCard'
        collection=document.system.domainCards.loadout
        canCreate=@root.editable
      }}

      {{> 'daggerheart.inventory-items'
        title='DAGGERHEART.GENERAL.Tabs.vault'
        type='domainCard'
        collection=document.system.domainCards.vault
        canCreate=@root.editable
        inVault=true
      }}
    </div>
  </div>
</section>
