<aside class="adversary-sidebar-sheet dhca-section dhca-section--footer dhca-footer{{#unless compact.showResourceBlock}} dhca-footer--hidden{{/unless}}" {{#unless compact.showResourceBlock}}hidden{{/unless}}>
  {{#if compact.showResourceBlock}}
  <div class="dhca-footer__inner">
    <div class="dhca-footer__title">
      <span>{{localize 'DAGGERHEART.GENERAL.HitPoints.short'}} &amp; {{localize 'DAGGERHEART.GENERAL.stress'}}</span>
    </div>

    {{> 'modules/daggerheart-compact-sheets/templates/parts/thresholds.hbs'}}

    {{#if compact.useResourcePips}}
      {{> 'modules/daggerheart-compact-sheets/templates/parts/resources.hbs'}}
    {{else}}
      <div class="dhca-resource-row dhca-resource-row--fallback">
        <label class="dhca-resource-field">
          <span class="dhca-resource-row__label">{{localize 'DAGGERHEART.GENERAL.HitPoints.short'}}:</span>
          <input
            type="number"
            name="system.resources.hitPoints.value"
            value="{{compact.resources.hitPoints.value}}"
            min="0"
            max="{{compact.resources.hitPoints.max}}"
            data-allow-delta="true"
          />
          <span class="dhca-resource-field__max">{{compact.resources.hitPoints.max}}</span>
        </label>

        <label class="dhca-resource-field">
          <span class="dhca-resource-row__label">{{localize 'DAGGERHEART.GENERAL.stress'}}:</span>
          <input
            type="number"
            name="system.resources.stress.value"
            value="{{compact.resources.stress.value}}"
            min="0"
            max="{{compact.resources.stress.max}}"
            data-allow-delta="true"
          />
          <span class="dhca-resource-field__max">{{compact.resources.stress.max}}</span>
        </label>
      </div>
    {{/if}}

    {{#if (lt compact.criticalThreshold 20)}}
      <div class="dhca-footer__meta">
        <span>
          {{localize 'DAGGERHEART.GENERAL.criticalShort'}}: {{compact.criticalThreshold}}+
        </span>
      </div>
    {{/if}}

    {{#if (and showAttribution document.system.attribution.artist)}}
      <label class="dhca-footer__attribution">{{localize 'DAGGERHEART.GENERAL.artistAttribution' artist=document.system.attribution.artist}}</label>
    {{/if}}
  </div>
  {{/if}}
</aside>
