<header class="adversary-header-sheet dhca-section dhca-section--header dhca-header">
  <div class="dhca-header__adornment" aria-hidden="true">
    <div class="dhca-header__ribbon">{{adversaryType}}</div>
    <div class="dhca-header__tier">{{source.system.tier}}</div>
  </div>

  {{#if document.img}}
    <div class="dhca-header__art{{#if compact.canEditImage}} dhca-header__art--editable{{/if}}">
      <img class="dhca-header__art-image" src="{{document.img}}" alt="" aria-hidden="true" />
    </div>
    {{#if compact.canEditImage}}
      <button
        type="button"
        class="dhca-header__art-edit"
        data-action="editImage"
        data-edit="img"
        data-tooltip-text="{{localize 'FILES.Edit'}}"
        aria-label="{{localize 'FILES.Edit'}}"
      >
        <i class="fa-solid fa-image"></i>
      </button>
    {{/if}}
  {{/if}}

  <div class="dhca-header__identity">
    <h1
      class="input actor-name dhca-header__name"
      contenteditable="plaintext-only"
      data-property="name"
      placeholder="{{localize 'DAGGERHEART.GENERAL.actorName'}}"
    >{{source.name}}</h1>
  </div>

  {{#if description}}
    <div class="dhca-header__description">{{{description}}}</div>
  {{/if}}

  <div class="dhca-header__stats">
    <div class="dhca-summary__line">
      <span class="dhca-summary__label">{{localize 'DAGGERHEART.GENERAL.difficulty'}}:</span>
      <span class="dhca-summary__value">{{ifThen source.system.difficulty source.system.difficulty '-'}}</span>
    </div>
    <div class="dhca-summary__line">
      <span class="dhca-summary__label">{{localize 'DAGGERHEART.GENERAL.attack'}}:</span>
      <span class="dhca-summary__value">
        {{#if compact.attackBonus includeZero=true}}
          {{numberFormat compact.attackBonus sign=true}}
        {{else}}
          -
        {{/if}}
      </span>
    </div>
  </div>

  <div class="dhca-header__attack">
    <ul class="dhca-header__attack-list">
      {{> 'daggerheart.inventory-item-compact'
        item=document.system.attack
        type='attack'
        noCompendiumEdit=true
        hideTooltip=false
      }}
    </ul>
  </div>

  <div class="dhca-header__details{{#unless compact.hasExperiences}} dhca-header__details--single{{/unless}}">
    {{#if compact.hasExperiences}}
      <section class="dhca-detail-panel dhca-detail-panel--experience">
        <h3 class="dhca-detail-panel__title">{{localize 'DAGGERHEART.GENERAL.experience.plural'}}</h3>
        <div class="dhca-experience-list">
          {{#each source.system.experiences as |experience id|}}
            <div class="dhca-experience-row" data-tooltip-text="{{experience.description}}">
              <span class="dhca-experience-name">{{experience.name}}</span>
              <span class="dhca-experience-value">+{{experience.value}}</span>
              <a class="dhca-inline-action" data-action="sendExpToChat" data-id="{{id}}" data-tooltip-text="{{localize 'DAGGERHEART.UI.Tooltip.sendToChat'}}">
                <i class="fa-regular fa-message"></i>
              </a>
            </div>
          {{/each}}
        </div>
      </section>
    {{/if}}

    <section class="dhca-detail-panel dhca-detail-panel--motives">
      <h3 class="dhca-detail-panel__title">{{localize 'DAGGERHEART.ACTORS.Adversary.FIELDS.motivesAndTactics.label'}}</h3>
      <div class="dhca-rich-text dhca-rich-text--motives">{{{source.system.motivesAndTactics}}}</div>
    </section>
  </div>

  <div class="dhca-header__toolbar">
    <div class="dhca-tab-nav">
      {{> 'systems/daggerheart/templates/sheets/global/tabs/tab-navigation.hbs'}}
    </div>
    <div class="dhca-header-actions">
      <button type="button" data-action="reactionRoll" data-tooltip-text="{{localize 'DAGGERHEART.GENERAL.Roll.reaction'}}">
        <i class="fa-solid fa-dice-d20"></i>
      </button>
      <button type="button" data-action="openSettings" data-tooltip-text="{{localize 'DAGGERHEART.UI.Tooltip.openSheetSettings'}}">
        <i class="fa-solid fa-wrench"></i>
      </button>
    </div>
  </div>
</header>
