<div class="dhca-thresholds">
  <div class="dhca-thresholds__label">
    <span class="dhca-thresholds__name">{{localize 'DAGGERHEART.GENERAL.DamageThresholds.minor'}}</span>
  </div>

  <span class="dhca-thresholds__value">{{compact.thresholds.major}}</span>

  <div class="dhca-thresholds__label">
    <span class="dhca-thresholds__name">{{localize 'DAGGERHEART.GENERAL.DamageThresholds.major'}}</span>
  </div>

  <span class="dhca-thresholds__value">{{compact.thresholds.severe}}</span>

  <div class="dhca-thresholds__label">
    <span class="dhca-thresholds__name">{{localize 'DAGGERHEART.GENERAL.DamageThresholds.severe'}}</span>
  </div>
</div>
